
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet", type="text/css" href="~/css/mapStyle.css"/>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap"></script>
<script src="~/js/map.js"></script>
<div id="map"></div>